# Copy to .env and fill with your real values (DO NOT commit .env to git)
ALIEXPRESS_APP_KEY=
ALIEXPRESS_APP_SECRET=YOUR_APP_SECRET_HERE
ALIEXPRESS_TRACKING_ID=
# Alternatively you can use AFF_SHORT_KEY
# AFF_SHORT_KEY=your_aff_short_key_here
AFTERSHIP_API_KEY=
CACHE_TTL_SECONDS=
